<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <solution>
    <add key="disableSourceControlIntegration" value="true" />
    <add key="defaultPushSource" value="https://upmcappsvcs.pkgs.visualstudio.com/_packaging/services-common/nuget/v2" />
  </solution>

  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="services-common" value="https://upmcappsvcs.pkgs.visualstudio.com/_packaging/services-common/nuget/v2" />
  </packageSources>

</configuration>