<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- See: https://github.com/nlog/NLog/wiki -->

  <targets>
    <target name="logFile" xsi:type="File" fileName="${basedir}\logs\${shortdate}.log">

      <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="true" quoting="All">
        <column name="date" layout="${date:format=yyyy-MM-dd}" />
        <column name="time" layout="${time:format=HH\:mm\:ss.fff}" />
        <column name="threadId" layout="${threadId}" />
        <column name="level" layout="${level:upperCase=true}" />
        <column name="message" layout="${message}" />
        <column name="callsite" layout="${callsite:includeSourcePath=true}" />
        <!--<column name="stacktrace"
                layout="${replace:searchFor=\r\n:wholeword=false:replacewith=@:regex=true:inner=${stacktrace:format=ToString}}"
        />-->
        <column name="exception"
                layout="${replace:searchFor=\r\n:wholeword=false:replacewith=@:regex=true:inner=${exception:format=ToString,Data}}" />
      </layout>

    </target>

    <target name="logconsole" xsi:type="ColoredConsole" layout="${level:upperCase=true} - ${message}" />

    <target name="debugger" xsi:type="Debugger" layout="${level:upperCase=true}::${logger}::${message}" />

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logFile" />
    <logger name="*" minlevel="Info" writeTo="logConsole" />
    <logger name="*" minlevel="Debug" writeTo="debugger" />
  </rules>
</nlog>